// app global css in SCSS form
@font-face {
  font-family: customfont;
  src: url(./fonts/Roboto-Regular.ttf);
}

// declare a class which applies it
* {
  font-family: 'customfont';
}
.subrayado {
  text-decoration: underline;
}
